.posts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 60px;
    background-color: bisque;
}


.item {
    display: flex;
    flex-direction: column;
   column-gap: 15px;
    padding: 10px;
    width: 100%;
    background-color: rgb(186, 145, 96);
    
    &__p{
        color: brown;
        
    }
    }
    
    .loading{
        background-color: bisque;
        position: fixed;
        left: 0;
        top: 100px;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 60px;
    }